.turquoise-bg{
  background: #1abc9c;
}
.emerald-bg{
  background: #2ecc71;
}
.peter-river-bg{
  background: #3498db;
}
.amethyst-bg{
  background: #9b59b6
}

.turquoise-color{
  color: #1abc9c;
}
.emerald-color{
  color: #2ecc71;
}
.peter-river-color{
  color: #3498db;
}
.amethyst-color{
  color: #9b59b6
}
